@media (max-width: 1024px) {

    .header-list-items-wrapper {
        margin-top: 25px;
        max-height: 500px;
        flex-direction: row;
        /* align-content: center; */
        /* justify-content: center; */
        justify-items: center;
    }


    .header-list-items-wrapper li a {
        padding-bottom: 8px;

    }

    header img {
        float: none;
        margin: auto;
    }

    .about-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        height: 600px;
        max-width: 100%;
        margin: auto;
        justify-items: center;
        padding: 0px;
    }

    .about-us-wrapper {
        height: 300px;
        padding-right: 6rem;
    }

    .about-us-wrapper p {
        width: 250px;
        /* font-size: 12px;
        line-height: 17px; */
    }

    .team-wrapper {
        margin-left: 30px;
        max-width: 300px;
        margin-right: 12rem;
    }

    .team-list-items {
        flex-direction: column;
        margin: auto;
        max-width: 200px;
    }

    .team-member-template {
        flex-direction: row;
        width: 100px;
        height: 150px;
        margin-right: 0px;
        margin: auto;
    }



    .team-avatar {
        width: 80px;
        height: 80px;
        transition: 0.2s ease-in;
        margin-right: 10px;
    }

    .team-member-info {
        width: 100%;
    }

    .team-member-info h1 {
        font-size: 15px;
        margin-bottom: 2px;
        margin-top: 10px;
    }

    .team-member-info span {
        margin-top: 2px;
        font-size: 13px;
    }

    .app-info-wrapper {
        display: grid;
        grid-template-columns: auto;
        /* justify-content: center; */
        justify-items: center;
        align-content: center;
        width: 100%;
        height: auto;
        flex-basis: 700px;
    }

    .app-info-template {
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .app-info-icons {
        width: auto;
    }

    .app-info-template span {
        margin: auto 0px;
        width: 100%;
    }

    .app-info-template p {
        margin: auto 0px;
        width: 100%;
    }

    .app-info-template i {
        width: 94px;
    }

    .footer-wrapper {
        height: 500px;
    }


    .footer-wrapper {
        display: flex;
        align-content: center;
        justify-items: center;
        flex-direction: column;
    }


    .short-description-wrapper {
        text-align: center;
        align-items: center;
        margin: auto;
        padding: 0px;
        border-right: none;
        border-bottom: 1px dotted gray;
    }


    .footer-contats-wrapper {
        justify-items: center;
        padding: 0px;
        text-align: center;
        border-top: 1px dotted gray;
        border-left: none;
    }

    .contats-wrapper {
        justify-content: center;
    }

    .footer-contats-wrapper i {
        margin: 0px;
    }


}

@media (max-width: 769px) {
   
    body {
        max-width: auto;
        height: 350vh;
        margin: auto;
    }
    header {
        height: 500px;
    }

    .header-list-items-wrapper {
        margin-top: 25px;
        max-height: 500px;
        width: 100%;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .header-list-items-wrapper li {
        margin: 10px auto 10px auto;
        max-width: 100%;
    }

    .header-list-items-wrapper li a{
       
        transition: 0.5s;
        text-shadow: -2px 3px 6px rgba(2,1,1,0.61);
        text-shadow: rgb(65, 228, 176);
        -webkit-text-stroke-width: 0.4px;   
        -webkit-text-stroke-color: black; 
    }

    .hero-wrapper {
        height: 100px;
    }

    .hero-wrapper h1 {
        font-size: 15px;
    }

    .hero-wrapper p {
        font-size: 12px;
    }

    .buttons-wrapper {
        flex-direction: column;
    }

    .buttons-wrapper button {
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: var(--main-tex-color);
        
    }

    .buttons-wrapper button:nth-child(1) {
        background-color: rgb(51, 49, 49);
        border: none;
        clip-path: none;
        margin: 0px;
        padding: 0px;
        height: 40px;
    }

    .buttons-wrapper button:nth-child(2) {
        background-color: rgb(65, 228, 176);
        border: none;
        clip-path: none;
        margin: 0px;
        padding: 0px;
        height: 40px;
    }

    .about-wrapper {
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;
        height: 800px;
       
    }

    .about-us-wrapper {
        height: 300px;
        max-width: 100%;
        padding-right: 0px;
        margin: auto;
        margin-bottom: 0px;
        border: none;
        text-align: center;
        justify-content: start;
    }
    

    .about-us-wrapper h1 {
        font-size: 25px;
        max-width: 150px;
        margin: 0px auto;
    }
    .about-us-wrapper  p {
        max-width: 200px;
        font-size: 18px;
        line-height: 19px;
        margin: 0px;  
    }

    .team-wrapper {
        margin-top: 0px;
        padding-bottom: 10px;
    }

    .app-info-wrapper {
        grid-template-columns: auto;
    }
    
    .app-info-template {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }

    .app-info-template i {
        width: 50px;
    }

    .carousel-wrapper {
        height: 250px;
    } 

    .footer-nav-bar-wrapper {
        margin: auto;
        padding: 0px;
    }

    .footer-navigation {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }

    .footer-navigation li {
        font-size: 12px;
    }

    .footer-navigation li i {
        margin-right: 10px;
    }

}