@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

/* custom */
:root {
    --main-tex-color: white;
    --secondary-text-color: rgb(128, 128, 128);
    --main-font-family: 'Roboto', sans-serif;
}

/* removing the default margin and padding */
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font-family);
}

/* <--Header Syling---> */
header {
    display: flex;
    background-image: url('./assests/Hero-background.jpg');
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    margin: auto;
    align-items: flex-start;
    flex-direction: column;

}


header img {
    max-width: 140px;
    height: 30px;
    margin: 10px 400px 25px auto;
    float: left;
    align-self: flex-start;



}

.header-list-items-wrapper {
    display: flex;
    max-height: 100px;
    justify-items: center;
    align-content: center;
    max-width: 1300px;
    margin: 15px auto 0px auto;
    padding: 0px;
    flex-wrap: wrap;
    border-bottom: 1px solid grey
}

.header-list-items-wrapper li {
    max-width: 50px;
    height: 30px;
    margin: 15px 20px 0px 20px;
    list-style-type: none;
    flex-wrap: wrap;
    border-bottom: 1px solid transparent;

}

.header-list-items-wrapper li a {
    text-decoration: none;
    color: var(--main-tex-color);
    font-size: 18px;
    padding-bottom: 27px;
    transition: 1s ease-out;
    border-bottom: 2.5px solid transparent
}

.header-list-items-wrapper li a:hover {
    transition: 0.3s ease-in;
    border-bottom: 2.5px solid rgb(125, 125, 125);
}

/* <--Hero-Styling--> */
.hero-wrapper {
    position: relative;
    align-self: center;
    max-width: 300px;
    margin: auto;
    color: var(--main-tex-color);
    text-align: center;
}

.hero-wrapper h1 {
    font-size: 68px;
    margin-bottom: 0px;
}

.hero-wrapper p {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 25px;
    margin-top: 0px;
}

/* <--Log-in-buttons-Styling--> */
.buttons-wrapper {
    display: flex;
    height: 140px;
    width: 100%;
    margin: 0px auto 0px auto;
}

.buttons-wrapper button {
    width: 1000px;
    text-align: center;
    font-size: 28px;
    color: var(--main-tex-color);
    margin: 0px auto 0px auto;

}

.buttons-wrapper button:nth-child(1) {
    background-color: rgb(51, 49, 49);
    border: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 90% 100%, 0 100%);
    margin-right: -280px;
    max-width: 100%;
}

.buttons-wrapper button:nth-child(2) {
    background-color: rgb(65, 228, 176);
    border: none;
    margin-left: 139px;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    max-width: 100%;
}

/* <--About-section-styling--> */
.about-wrapper {
    display: flex;
    height: 350px;
    background-color: aliceblue;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}

.about-us-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
    margin-left: auto;
    padding-right: 120px;
    justify-content: center;
    border-right: 1px dotted grey;
}

.about-us-wrapper p {
    max-width: 450px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 0px;

}

.about-us-wrapper h1 {
    margin-left: 40px;
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
    margin: auto auto auto 50px;

}

.team-list-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

.team-member-template {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: 10px 40px 0px 40px;
    height: 100%;

}

.team-member-info {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}

.social-media-list li {
    margin: 10px;
}

.social-media-list li i {
    color: rgba(128, 128, 128, 0.681);
}

.social-media-list li i:hover {
    color: rgb(7, 205, 205);
    cursor: pointer;
}

.team-avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 10px auto;

}

.job-title {
    color: var(--secondary-text-color);
}

/* <--Carousel-styling--> */
.carousel-wrapper {
    width: 100%;
    /* max-width: 800px; */
    height: 350px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-img {
    filter: brightness(28%);
    opacity: 0.7;
}

.slide {
    width: 100%;
    /* max-width: 100%; */
    height: 350px;
    position: absolute;
    transition: all 0.5s;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.carousel-buttons-wrapper {
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
}

.carousel-buttons-wrapper h2 {
    margin-top: 60px;
    margin-bottom: 0px;
    color: var(--main-tex-color);
    font-weight: lighter;
}

.carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100px;
}


.carousel-buttons input {
    margin: 5px;
    height: 15.5px;
    border-radius: 100%;
    border: 2.5px solid gray;
    background-color: white;
}

.carousel-buttons input:hover {
    cursor: pointer;
}

.carousel-buttons input:focus {
    background-color: rgba(128, 128, 128, 0.571);
}

.carousel-buttons input:active {
    background-color: rgba(128, 128, 128, 0.571);
}

/* <--App-info-styling--> */
.app-info-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    /* height: 300px; */
    justify-content: center;
    align-content: center;
}

.app-info-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0px 65px 65px 65px;
}


.app-info-template i {
    padding: 10px;
    font-size: 29px;
    padding: 20px;
    border-radius: 100%;
    width: 35px;
    margin-bottom: 10px;
    /* height: 60px; */
    text-align: center;
    color: white;
}

.icon1 {
    background-color: yellow;
}

.icon2 {
    background-color: aquamarine;
}

.icon3 {
    background-color: gray;
}

.icon4 {
    background-color: orange;
}

.app-info-template span {
    text-align: center;
    font-size: 20px;
    height: 40px;
    color: black;
    font-weight: 600;
    /* margin: 10px; */
}

.app-info-template p {
    color: var(--secondary-text-color);
    text-align: center;
    height: 40px;
    margin-top: 0px;
}

/* <--Footer-styling--> */

.footer-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(57, 57, 57);
    height: 400px;
    justify-content: center;
    align-content: center;
    margin: auto;
    color: var(--secondary-text-color);
}

.short-description-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 150px;
    margin: auto 0px auto auto;
    padding-right: 100px;
    border-right: 1px dotted gray;
}

.short-description-wrapper p {
    margin: 30px 0px 15px 0px;
    width: auto;
    line-height: 20px;
}

.footer-nav-bar-wrapper {
   max-width: 300px;
   max-height: 300px;
   margin: auto;
   padding: 0px 100px 0px 100px;
}

.footer-navigation {
    display: flex;
    max-height: 100px;
    width: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
    align-content: center;
    margin: 0px;
}

.footer-navigation li {
    line-height: 25px;
    width: 150px;
    padding: 0px;
    list-style-type:none;
    transition: 0.5s ease-in;
}

.footer-navigation li:hover {
    cursor:pointer;
    color: wheat;
}

.footer-navigation li i {
    margin-right: 10px;
    font-size: 12px;
}

.footer-contats-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 100%;
    margin: auto;
    border-left: 1px dotted gray;
    padding-left: 100px;
    max-height: 150px;
    justify-content: center;
}

.footer-contats-wrapper p {
    margin: 5px 0px 0px;
    line-height: 20px;
}

.contats-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
}

.contats-wrapper i {
    margin-right: 10px;
}

.contats-wrapper p {
    margin: 5px;

}